body.context-facebook-subject,
body.context-fbstatic {
    min-width: 0;
    margin: 0 auto;
}

body.context-facebook-subject #zone-branding-wrapper,
body.context-fbstatic #zone-branding-wrapper {
    display: none;
}

body.context-facebook-subject #breadcrumb,
body.context-fbstatic #breadcrumb {
    display: none;
}

body.context-facebook-subject .feed-icon,
body.context-fbstatic .feed-icon {
    display: none;
}

body.context-facebook-subject .page,
body.context-facebook-subject .grid-12,
body.context-facebook-subject .container-12,
body.context-fbstatic .page,
body.fbstatic .grid-12,
body.fbstatic .container-12 {
    width: 790px;
}

body.context-facebook-subject #zone-footer,
body.context-fbstatic #zone-footer {
    width: 790px;
    padding: 185px 0px 0px;
}

body.context-facebook-subject .region-branding-inner,
body.context-fbstatic .region-branding-inner {
    /* margin-top: 67px; */
}

body.context-facebook-subject #video_player_wrapper,
body.context-fbstatic #video_player_wrapper {
    box-shadow: 2px 2px 12px #666;
    border: 1px solid #ccc;
    width: 545px;
    height: 315px;
}

body.context-facebook-subject .container-12 .grid-8,
body.fbstatic .container-12 .grid-8 {
    width: 530px;
    margin: 0;
    margin-right: 10px;
}

body.context-facebook-subject .container-12 .grid-4,
body.context-fbstatic .container-12 .grid-4 {
    width: 230px;
}

body.context-facebook-subject #playlist-results,
body.context-fbstatic #playlist-results {
    width: 743px;
    margin: 0 auto;
}

body.context-facebook-subject #block-gung-facebook-tabs-fb-tabs-pdf,
body.context-fbstatic #block-gung-facebook-tabs-fb-tabs-pdf {
    background: url('images/gungwang-pdf-bg.jpg') no-repeat top center;
    width: 230px;
    height: 480px;
    margin-left: -10px;
    padding-top: 40px;
}

body.context-facebook-subject #block-gung-facebook-tabs-fb-tabs-pdf img.pdf-image,
body.context-fbstatic #block-gung-facebook-tabs-fb-tabs-pdf img.pdf-image {
    width: 230px;
    height: 129px;
    margin-top: 27px;
    margin-left: 0px;
    box-shadow: 2px 4px 3px rgba(0, 0, 0, .5);
    -moz-transform: rotate(3deg);
    -webkit-transform: rotate(3deg);
    -ms-transform: rotate(3deg);
}

body.context-facebook-subject #block-gung-facebook-tabs-fb-tabs-pdf .pdf-text,
body.context-fbstatic #block-gung-facebook-tabs-fb-tabs-pdf .pdf-text {
    padding: 15px;
    margin-top: 0px;
    padding-bottom: 0px;
    padding-top: 10px;
    font-size: 12px;
    text-align: center;
}

body.context-facebook-subject #block-gung-videos-gung-facebook-tab-video-player,
body.context-fbstatic #block-gung-videos-gung-facebook-tab-video-player {
    margin-top: 10px;
}

body.context-facebook-subject #talk-to-us,
body.context-facebook-subject #take-the-tour,
body.context-fbstatic #talk-to-us,
body.context-facebook-subject #take-the-tour {
    display: none;
}

body.context-facebook-subject #experts_bio h2,
body.context-facebook-subject #experts_bio h3,
body.context-fbstatic #experts_bio h2,
body.context-facebook-subject #experts_bio h3 {
    display: none;
}

body.context-facebook-subject #block-gung-experts-gung-experts-more-from,
body.context-fbstatic #block-gung-experts-gung-experts-more-from {
    border: none;
    min-height: 166px;
    padding: 0px 0px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    margin-bottom: 10px
}

body.context-facebook-subject #more_from_expert_info a.submit-button,
body.context-fbstatic #more_from_expert_info a.submit-button {
    display: block;
    width: 100px;
}

body.context-facebook-subject #more_from_expert_info a.more_link,
body.context-fbstatic #more_from_expert_info a.more_link {
    display: none;
}

body.context-facebook-subject #block-gung-experts-gung-experts-more-from #experts_bio,
body.context-fbstatic #block-gung-experts-gung-experts-more-from #experts_bio {
    max-height: none;
}

body.context-facebook-subject #block-gung-facebook-tabs-fb-tabs-pdf form,
body.context-fbstatic #block-gung-facebook-tabs-fb-tabs-pdf form {
    width: 200px;
    margin: 0 auto;
}

body.context-facebook-subject #block-gung-facebook-tabs-fb-tabs-pdf form input[type=text],
body.context-fbstatic #block-gung-facebook-tabs-fb-tabs-pdf form input[type=text] {
    width: 100%;
}

body.context-facebook-subject #block-gung-facebook-tabs-fb-tabs-pdf .social>span,
body.context-fbstatic #block-gung-facebook-tabs-fb-tabs-pdf .social>span {
    float: right;
    margin-top: 5px;
}

body.context-facebook-subject #block-gung-facebook-tabs-fb-tabs-pdf form input[type=submit]:nth-child(n+2),
body.context-fbstatic #block-gung-facebook-tabs-fb-tabs-pdf form input[type=submit]:nth-child(n+2) {
    margin: 0 auto;
    width: 148px;
    display: block;
}

body.context-facebook-subject #block-gung-facebook-tabs-fb-tabs-pdf .more,
body.context-fbstatic #block-gung-facebook-tabs-fb-tabs-pdf .more {
    padding-top: 20px;
    display: block;
    font-size: 12px;
    text-align: center;
    font-family: Eraser;
}

body.context-facebook-subject #block-gung-facebook-tabs-fb-tabs-pdf .social,
body.context-fbstatic #block-gung-facebook-tabs-fb-tabs-pdf .social {
    margin-top: 10px;
    margin-right: 5px;
}

body.context-facebook-subject #block-gung-facebook-tabs-fb-tabs-pdf span.tape,
body.context-fbstatic #block-gung-facebook-tabs-fb-tabs-pdf span.tape {
    width: 50px;
    height: 50px;
    background: url('images/tape-top.png') no-repeat;
    display: block;
    position: absolute;
    top: 36px;
    left: 90px;
    z-index: 2;
}

body.context-facebook-subject #block-gung-facebook-tabs-fb-tabs-carousel h2,
body.context-facebook-subject #block-gung-facebook-tabs-fb-tabs-watch-carousel h2,
body.context-fbstatic #block-gung-facebook-tabs-fb-tabs-carousel h2,
body.context-fbstatic #block-gung-facebook-tabs-fb-tabs-watch-carousel h2 {
    display: none;
}

body.context-facebook-subject #block-gung-facebook-tabs-fb-tabs-carousel .taxonomy-term a.addthis_button,
body.context-facebook-subject #block-gung-facebook-tabs-fb-tabs-watch-carousel .taxonomy-term a.addthis_button,
body.context-fbstatic #block-gung-facebook-tabs-fb-tabs-carousel .taxonomy-term a.addthis_button,
body.context-fbstatic #block-gung-facebook-tabs-fb-tabs-watch-carousel .taxonomy-term a.addthis_button {
    display: none;
}

body.context-facebook-subject .grid-12,
body.context-fbstatic .grid-12 {
    margin: 0px;
}

body.context-facebook-subject .field-name-field-video-source .field-label,
body.context-fbstatic .field-name-field-video-source .field-label {
    display: none;
}

body.context-facebook-subject #region-branding,
body.context-fbstatic #region-branding {
    float: right;
    padding: 10px;
}

body.context-facebook-subject #block-gung-experts-gung-experts-more-from a.submit-button,
body.context-fbstatic #block-gung-experts-gung-experts-more-from a.submit-button,
body.context-fbstatic #block-gung-experts-gung-experts-more-from a.submit-button,
body.context-fbstatic #block-gung-experts-gung-experts-more-from a.submit-button {
    width: 100px;
    margin-top: 10px;
}

body.context-facebook-subject div.messages,
body.context-fbstatic div.messages {
    margin-bottom: 10px;
}

body.context-facebook-subject .pdf-message,
body.context-fbstatic .pdf-message {
    padding: 10px;
    font-size: 12px;
    margin-left: 7px;
}


/***************** BELOW IS FOR TESTING **************************/

body.context-facebook-subjects,
body.context-fbstatic {
    width: 790px;
    min-width: 0;
    margin: 0 auto;
}

body.context-facebook-subjects #breadcrumb,
body.context-fbstatic #breadcrumb {
    display: none;
}

body.context-facebook-subjects .feed-icon,
body.context-fbstatic .feed-icon {
    display: none;
}

body.context-facebook-subjects .page,
body.context-facebook-subjects .grid-12,
body.context-facebook-subjects .container-12,
body.context-fbstatic .page,
body.context-fbstatic .grid-12,
body.context-fbstatic .container-12 {
    width: 790px;
}

body.context-facebook-subjects #zone-footer,
body.context-fbstatic #zone-footer {
    width: 790px;
    padding: 185px 0px 0px;
}

body.context-facebook-subjects .region-branding-inner,
body.context-fbstatic .region-branding-inner {
    /* margin-top: 67px;*/
}

body.context-facebook-subjects #video_player_wrapper,
body.context-fbstatic #video_player_wrapper {
    box-shadow: 2px 2px 12px #666;
    border: 1px solid #ccc;
    width: 545px;
    height: 315px;
}

body.context-facebook-subjects .container-12 .grid-8,
body.context-fbstatic .container-12 .grid-8 {
    width: 530px;
    margin: 0;
    margin-right: 10px;
}

body.context-facebook-subjects .container-12 .grid-4,
body.context-fbstatic .container-12 .grid-4 {
    width: 230px;
}

body.context-facebook-subjects #playlist-results,
body.context-fbstatic #playlist-results {
    width: 743px;
    margin: 0 auto;
}

body.context-facebook-subjects #block-gung-facebook-tabs-fb-tabs-pdf .pdf-text,
body.context-fbstatic #block-gung-facebook-tabs-fb-tabs-pdf .pdf-text {
    padding: 15px;
    margin-top: 0px;
    padding-bottom: 0px;
    padding-top: 10px;
    font-size: 12px;
}

body.context-facebook-subjects #block-gung-videos-gung-facebook-tab-video-player,
body.context-fbstatic #block-gung-videos-gung-facebook-tab-video-player {
    margin-top: 10px;
}

body.context-facebook-subjects #talk-to-us,
body.context-facebook-subjects #take-the-tour,
body.context-fbstatic #talk-to-us,
body.context-facebook-subjects #take-the-tour {
    display: none;
}

body.context-facebook-subjects #experts_bio h2,
body.context-facebook-subjects #experts_bio h3,
body.context-fbstatic #experts_bio h2,
body.context-fbstatic #experts_bio h3 {
    display: none;
}

body.context-facebook-subjects #more_from_expert_info a.submit-button,
body.context-fbstatic #more_from_expert_info a.submit-button {
    display: block;
    width: 100px;
}

body.context-facebook-subjects #more_from_expert_info a.more_link,
body.context-fbstatic #more_from_expert_info a.more_link {
    display: none;
}

body.context-facebook-subjects #block-gung-facebook-tabs-fb-tabs-pdf form,
body.context-fbstatic #block-gung-facebook-tabs-fb-tabs-pdf form {
    width: 200px;
    margin: 0 auto;
}

body.context-facebook-subjects #block-gung-facebook-tabs-fb-tabs-pdf form input[type=text],
body.context-fbstatic #block-gung-facebook-tabs-fb-tabs-pdf form input[type=text] {
    width: 100%;
}

body.context-facebook-subjects #block-gung-facebook-tabs-fb-tabs-pdf .social>span,
body.context-fbstatic #block-gung-facebook-tabs-fb-tabs-pdf .social>span {
    float: right;
    margin-top: 5px;
}

body.context-facebook-subjects #block-gung-facebook-tabs-fb-tabs-pdf form input[type=submit]:nth-child(n+2),
body.context-fbstatic #block-gung-facebook-tabs-fb-tabs-pdf form input[type=submit]:nth-child(n+2) {
    margin: 0 auto;
    width: 148px;
    display: block;
}

body.context-facebook-subjects #block-gung-facebook-tabs-fb-tabs-pdf .more,
body.context-fbstatic #block-gung-facebook-tabs-fb-tabs-pdf .more {
    display: block;
    font-size: 12px;
}

body.context-facebook-subjects #block-gung-facebook-tabs-fb-tabs-pdf .social,
body.context-fbstatic #block-gung-facebook-tabs-fb-tabs-pdf .social {
    margin-top: 10px;
    margin-right: 5px;
}

body.context-facebook-subjects #block-gung-facebook-tabs-fb-tabs-pdf span.tape,
body.context-fbstatic #block-gung-facebook-tabs-fb-tabs-pdf span.tape {
    width: 50px;
    height: 50px;
    background: url('images/tape-top.png') no-repeat;
    display: block;
    position: absolute;
    top: 36px;
    left: 90px;
    z-index: 2;
}

body.context-facebook-subjects #block-gung-facebook-tabs-fb-tabs-carousel h2,
body.context-facebook-subjects #block-gung-facebook-tabs-fb-tabs-watch-carousel h2,
body.context-fbstatic #block-gung-facebook-tabs-fb-tabs-carousel h2,
body.context-fbstatic #block-gung-facebook-tabs-fb-tabs-watch-carousel h2 {
    display: none;
}

body.context-facebook-subjects #block-gung-facebook-tabs-fb-tabs-carousel .taxonomy-term a.addthis_button,
body.context-facebook-subjects #block-gung-facebook-tabs-fb-tabs-watch-carousel .taxonomy-term a.addthis_button,
body.context-fbstatic #block-gung-facebook-tabs-fb-tabs-carousel .taxonomy-term a.addthis_button,
body.context-fbstatic #block-gung-facebook-tabs-fb-tabs-watch-carousel .taxonomy-term a.addthis_button {
    display: none;
}

body.context-facebook-subjects .grid-12,
body.context-fbstatic .grid-12 {
    margin: 0px;
}

body.context-facebook-subjects .field-name-field-video-source .field-label,
body.context-fbstatic .field-name-field-video-source .field-label {
    display: none;
}

body.context-facebook-subjects #region-branding,
body.context-fbstatic #region-branding {
    float: right;
    padding: 10px;
}

body.context-facebook-subjects #block-gung-experts-gung-experts-more-from a.submit-button,
body.context-fbstatic #block-gung-experts-gung-experts-more-from a.submit-button {
    width: 100px;
    margin-top: 10px;
}

body.context-facebook-subjects div.messages,
body.context-fbstatic div.messages {
    margin-bottom: 10px;
}

body.context-facebook-subjects .pdf-message,
body.context-fbstatic .pdf-message {
    padding: 10px;
    font-size: 12px;
    margin-left: 7px;
}

#block-gung-videos-gung-facebook-tab-video-player #video_player {
    height: auto;
    box-shadow: 2px 2px 12px #666;
    border: 1px solid #ccc;
    width: 500px
}

.fb-comments {
    width: 570px;
    float: left;
}