#page-simple-loader, .simple-loader{
  background-color: white;
  background: url('loader-red-slow.gif') no-repeat center rgba(255,255,255,0.85) !important;
  background-position: center;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 1000;
}
