/* brightcove player responsive */

#main-outer-wrapper{
    max-width: 1000px;
}

.video-outer-wrapper{
    width: 80%;
    display: block;
    position: relative;
    margin: 20px auto;
}

.video-outer-wrapper:after{
    padding-top: 56.25%;
    display: block;
    content: '';
}

.video-js{
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#main_player .vjs-big-play-button{
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    margin: auto;
    border-radius: 10px;
    background: none repeat scroll 0 0 #eb1d23;
    width: 85px;
    height: 60px;
    -webkit-box-shadow: 0px 0px 27px 3px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 27px 3px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 27px 3px rgba(0,0,0,0.75);
}

#main_player .vjs-big-play-button::before{
    margin: 18px auto;
}

#main_player .vjs-big-play-button {
    opacity: .9;
}
#main_player .vjs-big-play-button,
#main_player .vjs-play-progress,
#main_player .vjs-volume-level {
    background-color: #eb1d23;
}